@mixin text13px-400-primary {
  font-family: $font-family-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
@mixin text13px-700-primary {
  font-family: $font-family-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
}
@mixin text13px-900-primary {
  font-family: $font-family-primary;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
}
@mixin text14px-400-primary {
  font-family: $font-family-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
@mixin text14px-700-primary {
  font-family: $font-family-primary;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
}
@mixin text15px-300-primary {
  font-family: $font-family-primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}
@mixin text15px-700-primary {
  font-family: $font-family-primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
}
@mixin text15px-900-primary {
  font-family: $font-family-primary;
  font-size: 15px;
  font-style: normal;
  font-weight: 900;
}
@mixin text17px-700-primary {
  font-family: $font-family-primary;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
}
@mixin text25px-700-primary {
  font-family: $font-family-primary;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
}
